@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
html{
    
    scroll-behavior: smooth;
}
body{
    background-color: #243b62;
}

.cabeçalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #89b7e8;
    height: 60px;
    padding: 40px;
    position: sticky;
    top: 0;
    width: 100%;

}
   
.cabeçalho .logo{
    display: flex;
    gap: 12px;
}
.cabeçalho h1{ 
   color: #d7e8e8;
   font-size: 40px;
   font-weight: 100;

}

.cabeçalho img{
  
    width: 50px;
    height: 50px;
       
}

.cabeçalho ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    text-decoration: none;
}

.cabeçalho ul a {
    text-decoration: none;
    font-size: 20px;
    color: #f0ffff;
    opacity: .5;
    font-weight: 300;
    transition: 0.05s;
    cursor: pointer;
}
.cabeçalho ul a:hover{

   opacity: 1;
   
}
@media (max-width:425px){

.cabeçalho{
    flex-direction: column;
    padding: 20px;
    height: fit-content;
    
}
    
}

.main-content{
    padding: 80px 20px;
}
@media  (max-width: 425px) {
    .main-content{
        padding: 0px 10px;
    }
}


.main-about{
    height: 100vh;
    display: flex;
    align-items: center;  
    padding: 0 20px;
   
    
}
.main-about .historia {
    color: #d7e8e8;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding-top: 50px;
    padding-right: 25px;
    padding-left: 50px;;
        
}
.main-about .historia .p1{
    padding-bottom: 20px;
    
}
.main-about .historia .p2{
    
    padding-bottom: 20px;
       
}

.main-about .img .monumento{
    height: 300px;
}
@media  (max-width: 425px) {
    
.main-about{
    flex-direction: column;
    height: fit-content;
    text-align: center;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
  
}
.main-about .img .monumento{
    width: 100%;
    min-width: 100px;

}
.main-about .história{
    padding-right: 90px;
    padding-left: 80px;
}

}

.card-container{
    display: flex;
    gap: 70px;
    padding-top: 70px;
    justify-content: center;
    height: 100vh;
    align-items: center;
      
}
.card-container section{

    width: 300px;
    height: 620px;
    background-color: #d7e8e8;
    overflow: hidden;
    padding: 0px;
    border-radius: 30px;
    
}

.card-container .bandeira-barueri{
    width: 100%;
    height: 200px;
    

}

.card-container .bandeira-barueri p{
    padding: 10px 20px;
    font-size: 20px;
    
}
.card-container .praça{
    width: 100%;
    height: 200px;
}
.card-container p{
    padding: 10px 20px;
    font-size: 20px;
    
}
.card-container .feira{
    width: 100%;
    height: 200px;
}
@media (max-width: 425px) {
    .card-container{
        flex-direction: column;
        height: fit-content;
        padding-top: 150px;
    }
    }
.videos{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
   
}
.videos h2{
    color: #f0ffff;
    padding-bottom: 40px;
}
.videos .video{
  width: 100%;
  min-width: 300px;
  height: 400px;
  height: 100%;
  border: 0;
}
@media (max-width: 425px) {
    .videos{
        height: fit-content;
        margin-bottom: 30px;
    }
    .videos .video{
        height: 300px;

    }
    .videos h2{
        margin-top: 110px;
        font-size: small;
        text-align: center;
        padding-top: 40px;
    }
}
 

footer{
    background-color: #1a2b48;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}


footer img{
    width: 75px;
    height: 75px;
    transition: .03s;
    } 

footer img:hover {

    transform: scale(1.1);
}
@media (max-width: 425px){       
            footer{      
            width: 100%;
            height: 80px;
            
        }
        footer img{
            width: 50px;
            height: 50px;
        }
    }  

